tbody::-webkit-scrollbar {
  width: 6px;
}
tbody::-webkit-scrollbar-track {
  background-color: #f6f7f8;
}
tbody::-webkit-scrollbar-thumb { 
  background-color: #a4a4a4;
  border-radius: 10px;
}
tbody::-webkit-scrollbar-button {
  display: none;
}